<ul>
    <li>
        <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/insalan">
            Twitter
        </a>
    </li>
    <li>
        <a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/insalan">
            Facebook
        </a>
    </li>
    <li>
        <a href="mailto:contact@insalan.fr">
            <img src="{{ asset('img/mail.png') }}">
        </a>
    </li>
</ul>
