<section class="container">
    <section class="news">
        {% for n in news %}
            <article class="subsection">
                <aside>
                    <div class="square">
                        <a href="#body"><span></span></a>
                    </div>
                </aside>

                <header>
                    <h2>{{ n.title }}</h2>
                    <span class="date">{{ n.createdAt | date('d/m/Y H:i') }}</span> -
                    <span class="category">{{ n.category }}</span>
                </header>

                <section>
                    {#{{ n.text | markdown }}#}
                </section>
            </article>
        {% endfor %}
    </section>
    <aside class="twitter">
        <a class="twitter-timeline" href="https://twitter.com/insalan" data-widget-id="300559677375258624">Tweets de @insalan</a>
        <script>
            !function(d,s,id){
                var js,
                    fjs=d.getElementsByTagName(s)[0],
                    p=/^http:/.test(d.location)?'http':'https';
                if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src=p+"://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,"script","twitter-wjs");
        </script>

    </aside>
    <br class="clear"/>
</section>
