<div class="grid-7 pull-left">
    <iframe width="700" height="437" src="//www.youtube.com/embed/1air1jL6bVE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="grid-3 pull-left">
    <div class="frame frame-active">
        <header class="full">
            <div class="title pull-left">Overwatch</div>
            <small class="pull-right">
                12 slots
                <br>
                <strong>900€</strong>
            </small>
            <br class="clear">
        </header>
        <header class="full">
            <div class="title pull-left">LoL</div>

            <small class="pull-right">
                20 slots
                <br>
                <strong>1 200€</strong>
            </small>
            <br class="clear">
        </header>
        <header class="full">
            <div class="title pull-left">CS:GO</div>
            <small class="pull-right">
                24 slots
                <br>
                <strong>1 350€</strong>
            </small>
            <br class="clear">
        </header>
        <header class="full">
            <div class="title pull-left">Dota 2</div>
            <small class="pull-right">
                20 slots
                <br>
                <strong>1 200€</strong>
            </small>
            <br class="clear">
        </header>
        <header class="full">
            <div class="title pull-left">Hearthstone</div>
            <small class="pull-right">
                48 slots
                <br>
                <strong>350€</strong>
            </small>
            <br class="clear">
        </header>
        <header class="full">
            <div class="title pull-left">Kamehado Fest</div>
            <small class="pull-right">
                SFV / DBFz
                <br>
                <strong>500€</strong>
            </small>
            <br class="clear">
        </header>
        <header class="huge-button">
            <div class="title pull-left">
                {% if app.user is defined and app.user is not null %}
                    {#<a href="{{ path('insalan_tournament_user_index') }}" style="display:block">MON COMPTE</a>#}
                    <a href="#" style="display:block">MON COMPTE</a>
                {% else %}
                    {#<a href="{{path('fos_user_registration_register') }}" style="display:block">INSCRIPTION</a>#}
                    <a href="#" style="display:block">INSCRIPTION</a>
                {% endif %}
            </div>
            <br class="clear">
        </header>
        <section class="tournaments">
        </section>
    </div>
</div>

<br class="clear">

<article id="horaire" class="info">
    <aside>
        <div class="square">
            <a href="">
                <span></span>
            </a>
        </div>
    </aside>
    <header>
        <h2>Du 23 au 25 février 2018 à l'INSA Rennes</h2>
        <div style="font-size: 19px; margin-top: -18px">
            <span>
              20 avenue des buttes de Coësmes, 35708 Rennes - Arrêt Beaulieu Restau U (ligne 4, 31 et 32)
            </span>
        </div>
    </header>
</article>
